body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./asset/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-page {
  width: 100%;
  max-width: 400px; /* Set a maximum width for the form */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background for better readability */
  border-radius: 10px;
}

.form-control {
  width: 100%;
  margin-bottom: 15px;
}

/* Responsive Styles */

@media screen and (max-width: 1200px) {
  .form-page {
    max-width: 90%; /* Reduce the maximum width for medium-sized screens */
  }
}

@media screen and (max-width: 768px) {
  .form-page {
    max-width: 100%; /* Remove the maximum width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}
